<header id="header">
    <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Сменить навигацию</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><img src="<%= asset_path('logo.png') %>" alt="logo"></a>
                        <a class="navbar-brand header-phone" href="#"><%= @settings.phone %></a>
                        <a class="navbar-brand header-address" href="#"><%= @settings.address %></a>
                    </div>

                    <div class="collapse navbar-collapse navbar-right" ng-navigation>
                        <ul class="nav navbar-nav">
                            <li class="scroll"><a href="#about">О нас</a></li>
                            <li class="scroll"><a href="#work-process">Схема работы</a></li>
                            <li class="scroll"><a href="#pricing">Цены</a></li>
                            <li class="scroll"><a href="#contact">Подать заявку</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="collapse navbar-collapse navbar-right" ng-navigation set-active="true">
                        <ul class="nav navbar-nav">
                            <% @services_array.each_with_index do |service, index| %>
                              <% if service.show_in_header %>
                                <%= render partial: 'static_pages/service_nav', locals: { service_object: service, is_active: index == 0 } %>
                              <% end %>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!--/.container-->
    </nav><!--/nav-->
</header><!--/header-->