<div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="<%= milliseconds %>ms">
    <ul class="pricing">
        <li class="plan-header">
            <div class="price-duration">
                <span class="price">
                    <%= service_object.price %>
                </span>
            </div>

            <div class="plan-name">
                <%= service_object.name %>
            </div>
        </li>
        <li class="plan-purchase"><a class="btn btn-primary" href="#" ng-scroll-to="#contact">Подать заявку</a></li>
    </ul>
</div>