<div class="dialog-contents">
	<h4>Заявка принята</h4>

	<p>Наш оператор свяжется с Вами</p>

	<div class="ngdialog-buttons">
		<button type="button" class="btn btn-primary" ng-click="closeThisDialog(0)">Ок</button>
	</div>
</div>
