<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css">
      p {
        margin-top: 5px;
        margin-bottom: 3px;
      }
    </style>
  </head>
  <body>
    <p><h3><%= @title %></h3></p>
    <p>Имя клиента: <%= @name %></p>
    <p>Телефон клиента: <%= @phone %></p>
  </body>
</html>