.big-price, .price-prefix, .rub {
	color: #45AED6;
	font-weight: bold;
}

.big-price {
	font-size: 6em;
}

.price-prefix {
	font-size: 2em;
}

.rub {
	font-size: 4em;
	margin-right: 20px;
}

.crossed-price {
	font-size: 3em;
	color: #FF5959;
	text-decoration: line-through;
}

.small-crossed-price {
	color: #794242;
	text-decoration: line-through;
}

.p-without-margin {
	margin: 0px;
}

.phone {
	font-size: 2em;
	font-weight: bold;
}

.header-phone {
	font-size: 1.4em;
	font-weight: bold;
	padding-top: 15px !important;
	padding-right: 15px;
}

.header-address {
	font-size: 1.4em;
	padding-top: 15px !important;
}

.service-section {
	padding-bottom: 50px;
}

.ngdialog-content {
	padding-left: 50px !important;
	padding-right: 50px !important;
	padding-bottom: 30px !important;
	width: 400px !important;
}

.service-small-icon {
	margin-top: -10px;
	margin-right: 10px;
}

.work-process-icon {
	width: 46px;
	height: 46px;
	margin-bottom: 2px;
	margin-right: 1px;
}

.break-word {
	word-wrap: break-word;
}